<main>
    <section class="form-section">
        <img src="/assets/svg/logo.svg"/>
        <!-- não precisa do ponto porque a pasta assets fica disponivel para a aplicação no momento que o angular faz o build -->
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <!-- formulario -->

        <!-- botoes -->
        <div class="btn-wrapper">
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            <div class="btn-wrapper">
                <button 
                    class="btn-primary" 
                    (click)="submit()"
                    [disabled]="disablePrimaryBtn"
                >
                    {{ primaryBtnText }}
                </button>
                <div class="divider">
                    <div></div>
                    <span>or</span>
                    <div></div>
                </div>
                <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
            </div>
        </div>
    </section>
    <section class="main-section">
        <h1>You Should, MoveIt!</h1>
        <img src="/assets/svg/main-illustration.svg" />
    </section>
</main> 